@import url('https://fonts.googleapis.com/css?family=Oswald:300');

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  min-height: calc(100vh - 90px);
  margin-bottom: 20px;
}

.dinosaurs-image {
  position: absolute;
  width: 100%;
  max-width: 700px;
}

canvas {
  width: 100%;
  max-width: 700px;
}

.text-input {
  position: absolute;
  font-family: 'Lucida Console';
  overflow: hidden;
}

.text-input-1 {
  margin-left: 43%;
  margin-top: 10%;
  width: 25%;
}

.text-input-2 {
  margin-left: 55%;
  margin-top: 25%;
  width: 25%;
}

.text-input-3 {
  margin-left: 70%;
  margin-top: 2%;
  width: 25%;
}

textarea.invisible {
  background: transparent;
  border: none;
}

.hidden {
  display: none;
}

body {
  background: #eaeac7;
}

#buttons {
  text-align: center;
}

button {
  vertical-align: top;
  padding: 8px 15px 8px 15px;
  margin-right: 10px;
  font-size: 22px;
  color: black;
  text-align: center;
  background: #f1c40f;
  border: 0;
  cursor: pointer;
  font-family: 'Oswald';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 700px) {
  textarea {
    font-size: 2vw;
  }
}

.footer {
  text-align: center;
  bottom: 10px;
  width: 100%;
  height: 50px;
}
